<!--Grievance cell members-->
<!--Admin-->
<div ng-app="grievances" ng-controller="" ng-init="">
    <h1>Class List</h1>
    <div id="" class="contenttable">
        <table class="table table-hover table-striped">
            <thead class="table-success">
                <tr>
                    <th>S. No.</th>
                    <th>Name</th>
                    <th>Course</th>
                </tr> 
            </thead>
            <tr>
                <td>1</td>
                <td>Final Year</td>
                <td>B. Tech. - Civil Engineering</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Final Year</td>
                <td>B. Tech. - Computer Science Engineering</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Final Year</td>
                <td>B. Tech. - Electrical Engineering</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Final Year</td>
                <td>B. Tech. - Electronics And Communication Engineering</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Final Year</td>
                <td>B. Tech. - Mechanical Engineering</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Third Year</td>
                <td>B. Tech. - Civil Engineering</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Third Year</td>
                <td>B. Tech. - Computer Science Engineering</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Third Year</td>
                <td>B. Tech. - Electrical Engineering</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Third Year</td>
                <td>B. Tech. - Electronics And Communication Engineering</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Third Year</td>
                <td>B. Tech. - Mechanical Engineering</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Second Year</td>
                <td>B. Tech. - Civil Engineering</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Second Year</td>
                <td>B. Tech. - Computer Science Engineering</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Second Year</td>
                <td>B. Tech. - Electrical Engineering</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Second Year</td>
                <td>B. Tech. - Electronics And Communication Engineering</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Second Year</td>
                <td>B. Tech. - Mechanical Engineering</td>
            </tr>
            <tr>
                <td>16</td>
                <td>First Year</td>
                <td>B. Tech. - Civil Engineering</td>
            </tr>
            <tr>
                <td>17</td>
                <td>First Year</td>
                <td>B. Tech. - Computer Science Engineering</td>
            </tr>
            <tr>
                <td>18</td>
                <td>First Year</td>
                <td>B. Tech. - Electrical Engineering</td>
            </tr>
            <tr>
                <td>19</td>
                <td>First Year</td>
                <td>B. Tech. - Electronics And Communication Engineering</td>
            </tr>
            <tr>
                <td>20</td>
                <td>First Year</td>
                <td>B. Tech. - Mechanical Engineering</td>
            </tr>
        </table>
    </div>

</div>

