<!--Grievance cell members-->
<!--Admin-->
<div ng-app="grievances" ng-controller="" ng-init="">
    <h3>Course List</h3>
    <div id="" class="contenttable">
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead class="table-inverse">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                </tr> 
            </thead>
            <tr>
                <td>1</td>
                <td>B. Tech. - Civil Engineering</td>
            </tr>
            <tr>
                <td>2</td>
                <td>B. Tech. - Computer Science Engineering</td>
            </tr>
            <tr>
                <td>3</td>
                <td>B. Tech. - Electrical Engineering</td>
            </tr>
            <tr>
                <td>4</td>
                <td>B. Tech. - Electronics And Communication Engineering</td>
            </tr>
            <tr>
                <td>5</td>
                <td>B. Tech. - Mechanical Engineering</td>
            </tr>
        </table>
        </div>
    </div>

</div>

