<!--Grievance cell members-->
<!--Admin-->
<div ng-app="grievances" ng-controller="" ng-init="">
    <h3>Education Group</h3>
    <div id="" class="contenttable">
        <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead class="table-inverse">
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Address</th>
                    <th>Description</th>
                    <th>Established</th>
                </tr> 
            </thead>
            <tr>
                <td>Anand International College Of Engineering</td>
                <td>25253</td>
                <td>Near Kanota, Agra Road, Jaipur, Rajasthan, 303012</td>
                <td>
                    The Anand International College of Engineering (Anand-ICE), approved by AICTE and affiliated to RTU, Kota is established at India’s Pink City-Jaipur in the year 2010. Since its inception, the institute persists its credentials of joyous teaching-learning environs of global standards and offers B.Tech. Degree programs in Civil, Computer Science, Electrical, Electronics & Communication, and Mechanical Engineering. The Institute nurtures intellectually inspiring Academic Environment with world-class infrastructure, state-of-the-art laboratories, and a lush green landscaped campus.
                </td>
                <td>02/08/2010</td>
            </tr>
        </table>
    </div>
    </div>

</div>

