<!--Grievance cell members-->
<!--Admin-->
<div ng-app="grievances" ng-controller="GRV_TYPE" >
    <h3>Grievance Type List</h3>
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#default">
        Create New Grievance Type
    </button>
    <div id="grv_type" class="contenttable hide">
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead class="table-inverse">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr> 
                </thead>
                <tr ng-repeat="result in result">
                    <td>{{$index+1}}}</td>
                    <td>{{result.grvtype}}</td>
                    <td>{{result.description}}</td>
                    <td>
                        <button class="btn btn-success btn-sm"> Edit</button>
                        <button ng-click="deactivate(result.grvtype)" class="btn btn-danger btn-sm" >Deactivate</button>
                    </td>
                </tr>   
            </table>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="form-group">
            <!-- Modal -->
            <div class="modal fade text-xs-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel1">Add New Grievance Type</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-group" ng-submit="Create()">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="label-control">Grievance Name:</label>
                                        <input type="text" ng-model="grvname" class="form-control" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="label-control">Description:</label>
                                        <textarea ng-model="description" rows="4" class="form-control" placeholder="(max. 200 characters)" maxlength="200" required></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer pr-0 pb-0">
                                    <button type="submit" class="btn btn-outline-primary">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="loading">
        <div class="loader">
        </div>
        
        <h3>Loading...</h3>
    </div>

</div>


<script type="text/javascript">
    $('#closebutton').click(function(){
        $('.detailbackground').fadeOut(500);
    });

    $('#createnew').click(function(){
        $('.detailbackground').fadeIn(500);
    });
</script>