<!--Parent Termination-->
<!--Admin-->
<div ng-app="grievances" ng-controller="" ng-init="">
    <h1>Parent Termination</h1>
    <div id="" class="contenttable">
        <form class="form-group">
            <label>Enter Year</label>
            <input type="number" class="form-control w-50" name="" placeholder="(ex. 2016)" maxlength="4" minlength="4" required>
            <button type="submit" class="btn btn-danger my-3">Terminate</button>
        </form>
    </div>

</div>