<!--Parent Termination-->
<!--Admin-->
<div ng-app="grievances" ng-controller="Termination" >
    <h3>Parent Termination</h3>
    <div id="terminate" class="contenttable">
        <form class="form-group" ng-submit="Termination('Parent')">
        	<div class="col-sm-5">
            <label>Enter Year</label>
            <input type="number" class="form-control" ng-model="year" placeholder="(ex. 2016)" maxlength="4" minlength="4" required>
            <button type="submit" class="btn btn-danger my-1">Terminate</button>
        	</div>
        </form>
    </div>

</div>