<!--Parent Termination-->
<!--Admin-->
<div ng-app="grievances" ng-controller="Termination" >
    <h1>Parent Termination</h1>
    <div id="terminate" class="contenttable">
        <form class="form-group" ng-submit="Termination('Parent')">
            <label>Enter Year</label>
            <input type="number" class="form-control w-50" ng-model="year" placeholder="(ex. 2016)" maxlength="4" minlength="4" required>
            <button type="submit" class="btn btn-danger my-3">Terminate</button>
        </form>
    </div>

</div>