<!--Grievance cell members-->
<!--Admin-->
<div ng-app="grievances" ng-controller="Rejected_user" >
    <h3>Rejected Users</h3>
    <h3>{{msg}}</h3>
    <div id="rejected_user" class="contenttable hide">
        <table class="table table-hover table-striped">
            <thead class="table-inverse">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>User Type</th>
                    <th>Email ID</th>
                    <th>Mobile No.</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tr ng-repeat="student in student">

                    <td>{{msg}}</td>
                    <td>{{student.name}}</td>
                    <td>Student</td>
                    <td>{{student.emailid}}</td>
                    <td>{{student.mobileno}}</td>
                    <td>
                        <button class="btn btn-primary btn-sm"><span class="fas fa-undo"></span> Undo Reject</button>
                    </td>
                </tr>
        </table>
    </div>
    <div id="loading">
        <div class="loader">
        </div>

        <h3>Loading...</h3>
    </div>

</div>
