<!--STUDENT-->
<h3>Change Password</h3>

<form ng-submit="resetpass()" ng-app="grievances" ng-controller="Admin">
    <div class="form-group" >
       <div class="row">
           <div class="col-sm-2">
               <label class="control-lable"> Current Password</label>
           </div>
           <div class="col-sm-7">
               <input class="form-control" type="password" ng-model="current_password" ng-init="current_password=''" required>
           </div>
       </div>
   </div>

   <div class="form-group" >
       <div class="row">
           <div class="col-sm-2">
               <label class="control-lable"> New Password</label>
           </div>
           <div class="col-sm-7">
               <input id="new-pass" class="form-control" type="password" ng-model="new_password" required>
               <div style="width: 0;height: 0;" id="new-pass-container"></div>
           </div>
       </div>
   </div>

   <div class="form-group" >
       <div class="row">
           <div class="col-sm-2">
               <label class="control-lable"> Confirm Password</label>
           </div>
           <div class="col-sm-7">
               <input class="form-control" type="password" ng-model="new_password1" required>
           </div>
       </div>
   </div>

   <div class="form-group" >
       <div class="col-sm-7 offset-sm-2">
           <button class="btn btn-secondary" type="submit" ng-click="resetpass" >Update</button>
       </div>
   </div>
</form>

<script type="text/javascript">
  $('#new-pass').strengthMeter('progressBar', {
    container: $('#new-pass-container'),
    base: 80,
    hierarchy: {
      '0': 'progress-bar bg-danger',
      '25': 'progress-bar bg-warning',
      '50': 'progress-bar bg-success'
    },
    passwordScore: {
      options: [],
      append: true
    }
  });
</script>