<!--Admin-->
<div ng-app="grievances" ng-controller="Student_grievances">
    <h3>Grievance Details</h3>
    <div id="grievances" class="table-responsive">
        <table class="table table-hover table-striped">
            <thead class="table-inverse">
                <tr>
                    <th>#</th>
                    <th>Grievance No.</th>
                    <th>Date</th>
                    <th>Grievance Type</th>
                    <th>Subject</th>
                    <th>Grievance</th>
                    <th>Status</th>
                    <th>Reminder/Reopen</th>
                </tr> 
            </thead>
            <tr ng-repeat="result in result">
                <td>{{$index+1}}</td>
                <td style="text-transform: uppercase;">{{result.grv_id}}</td>
                <td></td>
                <td>{{result.Gtype}} </td>
                <td>{{result.subject}}</td>
                <td>
                    <button ng-click="popup(result.grv_id)" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#View">
                        <span class="icon-eye"></span>
                        View
                    </button>
                </td>
                <td>{{result.status}}</td>
                <td ng-switch on="result.status">
                    <button ng-switch-when="pending|viewed" ng-switch-when-separator="|" id="remind{{index+1}}" ng-click="remind(result.gseq)" class="btn btn-success btn-sm">
                        <span class="icon-clock-o"></span>
                        Reminder
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div id="loading">
        <div class="loader">
        </div>
        
        <h3>Loading...</h3>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="form-group">
            <!-- Modal -->
            <div class="modal fade text-xs-left" id="View" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel1">Details</h4>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <td>Grievance Number</td>
                                        <td style="text-transform: uppercase;">{{data.grv_id}}</td>
                                    </tr>
                                    <tr>
                                        <td>Grievance Type</td>
                                        <td>{{data.Gtype}}</td>
                                    </tr>
                                    <tr>
                                        <td>Subject</td>
                                        <td>{{data.subject}}</td>
                                    </tr>
                                    <tr>
                                        <td>Grievant</td>
                                        <td>{{data.Grievant}}</td>
                                    </tr>
                                    <tr>
                                        <td>Status</td>
                                        <td>{{data.status}}</td>
                                    </tr>
                                    <tr>
                                        <td>Grievance Cell Member</td>
                                        <td>{{data.GCM}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>{{data.time}}</td>
                                    </tr>
                                    <tr>
                                        <td>Grievance Details</td>
                                        <td>{{data.Grv}}</td>
                                    </tr>
                                    <tr>
                                        <td>Reply</td>
                                        <td>{{data.reply}}</td>
                                    </tr>
                                    <tr>
                                        <td>Grievance Documents</td>
                                        <td>{{data.doc}}</td>
                                    </tr>
                                    <tr>
                                        <td>Reply Documents</td>
                                        <td>{{data.doc}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    $('#closebutton, #closebutton-reply').click(function(){
        $('.detailbackground').fadeOut(500);
        $('.detailbackground-reply').fadeOut(500);
    });
</script>

